doctype html
html
  head
    style.
      #container{
        text-align: center; /*让div内部文字居中*/
        background-color: #fff;
        border-radius: 20px;
        width: 300px;
        height: 350px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .infologo{
        width:150px;
        height:150px;
      }
  body
    div#container
      img.infologo(src="http://aladjs.cn/%E6%96%B0%E5%BB%BA%E9%A1%B9%E7%9B%AE%20%281%29.png")
      div.form_label
        label(for="username") 用户名
        input(type="text" name="username")
      div.form_label
        label(for="password") 密码
        input(type="text" name="password")
      div.form_label
        input(type="submit" name="submit" value="登录")
  script.
    document.querySelector('input[name="submit"]').addEventListener('click',function(){
      fetch('http://192.168.253.6:3000/v1/chili/login', {
        body: JSON.stringify( {
        username: document.querySelector('input[name="username"]').value,
        password: document.querySelector('input[name="password"]').value
      }),
      headers:{
        'Accept': 'text/javascript, application/javascript, application/ x-javascript, */*',
        'Content-Type':'application/json'
      },
        method: 'POST' // *GET, POST, PUT, DELETE, etc.
      })
      .then(response => {
          response.json().then((data) =>{
            console.log(data)
            if(data.code === 0) {
              localStorage.token = data.data.token
              localStorage.username = data.data.username
              localStorage.sex = data.data.sex
              localStorage.remark = data.data.remark
              localStorage.headerurl = data.data.headUrl
              window.location.href = '/index'
            }
          })
      })
    })